.timeLine {
  position: absolute;
  left: 10px;
  width: 5px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
}

.timeText {
  position: absolute;
  left: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  transform: translateY(-50px);
}
