.primeiraSection {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formContainer {
  background-color: var(--primeira-cor);
  color: white;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}

.links {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}

.formasDeContato {
  display: flex;
  justify-content: center;
}

.formasDeContato article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formasDeContato article iframe {
  width: 70%;
}

@media (max-width: 1200px) {
  .formContainer {
    width: 100%;
  }

  .formasDeContato article iframe {
    width: 100%;
  }
}
