.button {
  padding-left: 5px;
  padding-right: 5px;
  width: 180px;
  height: 50px;
  background-color: var(--terceira-cor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  gap: 10px;
}

.button:hover {
  background-color: #3f3f3f;
}

.button p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
}

.button img {
  height: 25px;
  width: 25px;
}

@media (max-width: 1200px) {
  .button {
    width: 140px;
  }
  .button p {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }

  .button img {
    height: 15px;
    width: 15px;
  }
}
