.headerContainer {
  background-image: url("../../../assets/images/fundoHeader.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  padding: var(--padding-page);
  z-index: 1;
  overflow: hidden;
}

.textsContainer {
  position: relative;
  width: 25vw;
  z-index: 1;
  animation: headerAnim 02s ease forwards;
}

@keyframes headerAnim {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0px);
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.idEquipe {
  color: var(--segunda-cor);
  font-size: 5vw;
  padding-left: 20px;
}

.textHeader {
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.quadradoVermelho {
  position: absolute;
  background-color: var(--primeira-cor);
  width: 55vw;
  height: 1200px;
  top: -300px;
  left: -300px;
  filter: opacity(0.77);
  z-index: -1;
  rotate: 15deg;
}
@media (max-width: 1500px) {
  .idEquipe {
    display: none;
  }
}
@media (max-width: 1200px) {
  .headerContainer {
    height: 500px;
    padding: 20px;
    padding-top: 90px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .idEquipe {
    display: flex;
    font-size: 50px;
  }

  .textsContainer {
    position: relative;
    width: 100%;
  }

  .textHeader {
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 40px;

  }
  .titleContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quadradoVermelho {
    width: 200vw;
    top: -500px;
  }
}
