.card {
  background-color: #e1e1e1;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card h4, .card span{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--primeira-cor);
  line-height: 1;
  margin: 10px;
}

.card span {
    margin: 0px;
    font-weight: bold;
}

.card img {
    width: 100%;
    background-color: white;
}

.card div {
    align-self: flex-start;
}