.button {
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: var(--terceira-cor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  gap: 10px;
}

.button:hover {
  background-color: #3f3f3f;
}

.button p {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.button img {
  height: 60%;
}
