.header {
  height: 700px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f3e2c4;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.header h1 {
    color: black;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3e2c4;
}

.cyberStart {
    display: flex;
    gap: 50px;
}
.cyberStart article {
    width: 50%;
}