.header {
  height: 850px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f3e2c4;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.header h1 {
  color: #7c6143;
  z-index: 1;
  animation: titleAnim 2s;
}

.fundoHeader {
  position: absolute;
  width: 100%;
  top: 0px;
}

@keyframes titleAnim {
  0% {
    transform: translate(0px, -500px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3e2c4;
}

.cyberStart {
  display: flex;
  gap: 50px;
}
.cyberStart article {
  width: 50%;
}

@media (max-width: 1200px) {
  .header {
    height: 700px;
  }
  
  .fundoHeader {
    position: absolute;
    width: 200%;
    top: 0px;
  }
.cyberStart article {
  width: 100%;
}
}
