.First {
  width: 300px;
  padding-top: 50px;
  display: flex;
  justify-self: center;
}

.cyberExperienceContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../assets/images/fundoCyberExperience.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 100px;
}
.cyberExperienceContainer article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.impactoContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}