.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: white;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
  align-items: center;
  padding-right: 70px;
  padding-left: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.hidden {
  transform: translateY(-300%);
}

.container div {
  display: flex;
}

.container div a {
  color: black;
  font-size: 16px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.container div a:hover {
  background-color: rgb(232, 232, 232);
}
.logo {
  position: absolute;
  width: 130px;
  top: 0px;
  left: 10px;
}

.icon {
  width: 50px;
}

.menuToggle {
  display: none;
}

.linkNegrito {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container div {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container div .navLinks {
    display: none;
  }

  .container div .active {
    display: flex;
  }

  .container {
    height: 60px;
    background-color: white;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
  }

  .icon {
    width: 30px;
  }

  .menuToggle {
    display: flex;
    background: none;
    border: none;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    transition: all .2s;
  }
  .botaoCinza {
    background-color: #cacaca;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0px;
  }

  .container div a {
  color: black;
  font-size: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
}
