.footerContainer{
    width: 100%;
    background-color: var(--primeira-cor);
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogo {
    width: 200px;
    transform: translateY(-100px);
}

.icon {
  width: 50px;
}