.footerContainer {
  width: 100%;
  background-color: var(--primeira-cor);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  z-index: 2;
}

.footerContainer section {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
}

.footerPatrocinadores {
  width: 100%;
}
.footerLogo {
  position: absolute;
  width: 200px;
  transform: translateY(-100px);
}

.icon {
  width: 50px;
}

.contatoFooter {
  background-color: var(--terceira-cor);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.link {
  color: white;
  text-decoration: underline;
}

.paginasFooter {
  display: flex;
  flex-direction: column;
}
.paginasFooter a {
  color: white;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.paginasFooter a p {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .footerContainer {
    width: 100%;
    background-color: var(--primeira-cor);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .footerContainer section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .footerContainer section article {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footerPatrocinadores {
    width: 50%;
    padding-bottom: 50px;
  }
  .footerLogo {
    position: absolute;
    width: 200px;
    transform: translateY(-100px);
  }

  .icon {
    width: 50px;
  }

  .contatoFooter {
    background-color: var(--terceira-cor);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }

  .link {
    color: white;
    text-decoration: underline;
  }

  .paginasFooter {
    display: flex;
    flex-direction: column;
  }
  .paginasFooter a {
    color: white;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
}
