.container div {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0px 0 10px 10px;
}

@media (max-width: 768px) {
  .container div {
    position: absolute;
    top: 0px;
    left: 140px;
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: none;
    border-radius: 0px 0 10px 0px;
  }
}
