* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    
}

body {
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
}
h3 {
    font-family: "Anton", sans-serif;
    font-size: 25px;
}
h1 {
    font-family: "Anton", sans-serif;
    font-size: 50px;
}
h2 {
    display: none;
}