:root {
  --primeira-cor: #58060c;
  --segunda-cor: #bbbbbb;
  --terceira-cor: #4e4e4e;
  --padding-page: 120px;
}

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 20px;
  text-align: justify;
}
h3 {
  font-family: "Anton", sans-serif;
  font-size: 70px;
  font-weight: 300;
}
h1 {
  font-family: "Anton", sans-serif;
  font-size: 140px;
  font-weight: 500;
  color: white;
  margin: 0;
  line-height: 1.1;
}
h2 {
  display: none;
}

section {
  padding: 50px var(--padding-page) 0px var(--padding-page);
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

section img {
  width: 40%;
}
