:root {
  --primeira-cor: #58060c;
  --segunda-cor: #bbbbbb;
  --terceira-cor: #4e4e4e;
  --padding-page: 120px;
}

* {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 20px;
  text-align: justify;
}
h3,
span {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 50px;
}

h4 {
  font-family: "Anton", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0px;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 140px;
  font-weight: 500;
  color: white;
  margin: 0;
  line-height: 1.1;
}
h2 {
  display: none;
}

section {
  padding: 50px var(--padding-page) 0px var(--padding-page);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  gap: 50px;
}

section img {
  width: 40%;
  height: auto;
}

.italic {
  font-style: italic;
}

.red {
  color: var(--primeira-cor);
}

.buttonsContainer {
  display: flex;
  gap: 50px;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

.negrito {
  font-weight: bold;
}

.ultimaSection {
  padding-bottom: 100px;
}

@media (max-width: 1200px) {
  p {
    font-size: 16px;
    text-align: justify;
  }
  h3,
  span {
    font-family: "Anton", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  h4 {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  h1 {
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin: 0;
    line-height: 1.1;
  }
  h2 {
    display: none;
  }

  section {
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 50px;
  }

  .buttonsContainer {
    gap: 20px;
  }

  section img {
    width: 70%;
    height: auto;
  }
}
