.headerContainer {
  background-image: url("../../assets/images/fundoHeader.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  padding: var(--padding-page);
}

.textsContainer {
  width: 40%;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.idEquipe {
  color: var(--segunda-cor);
  font-size: 100px;
  padding-left: 20px;
}

.textHeader {
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.buttonsContainer {
  display: flex;
  gap: 50px;
}

.First {
  width: 300px;
  padding-top: 50px;
  display: flex;
  justify-self: center;
}

.cyberExperienceContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../assets/images/fundoCyberExperience.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-top: 100px;
}
.cyberExperienceContainer article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.impactoContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}
